[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ebookmaker = {editable = true, ref = "v12", git = "https://github.com/gutenbergtools/ebookmaker"}
libgutenberg = "==0.8.15"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
build-epub = 'ebookmaker -v -v --make=epub.images --output-dir ./output/ --max-depth 4 --config ./ebookmaker.conf  ./ebook/00.html --output-file whitefang'