[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ebookmaker = {editable = true, ref = "v12", git = "https://github.com/gutenbergtools/ebookmaker"}

[dev-packages]

[requires]
python_version = "3.8"
