/* Index Page Style */
#index-container {
    background-color: #fff;
}

#index-title {
    font-family: 'Fabrik-Bold', sans-serif;
    margin-bottom: 0em;
    letter-spacing: .12em;
    word-spacing: 0em;
    text-indent: 0;
    text-align: center;
    font-size: 5.50em;
    font-weight: bold;
    line-height: 1.4em;
    page-break-before: always;
}

#index-subtitle {
    font-family: 'CormorantGaramond-Bold', serif;
    padding-top: 0em;
    line-height: 1em;
    letter-spacing: .1em;
    margin-top: 0em;
    margin-bottom: 2em;
    text-indent: 0.6em;
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
    transform: scale(1, 1.15);
}

.index-section-part {
    padding-top: 2em;
    padding-bottom: 0.6em;
    font-size: 1.8em;
    font-family: 'CormorantGaramond-Bold', serif;
}

.index-section-part > a:link {
    color: #000;
    border-bottom: 1px solid #000;
}

.index-section-chapter > a:link {
    color: #000;
    border-bottom: 1px solid #000;
}

.index-section-part > a:hover {
    color: #09BC8A;
    border-bottom: 1px solid #09BC8A;
}

.index-section-chapter > a:hover {
    color: #09BC8A;
    border-bottom: 1px solid #09BC8A;
}


.index-section-chapter {
    text-indent: 2em;
    font-size: 1.6em;
    font-family: 'CormorantGaramond-Bold', serif;
}

/* Copyright Page Style */
div.copyright-container {
    margin: auto 1em;
    display: block;
    margin-top: 3em;
}

#main-copyright-heading {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: -0.8em;
    font-family: 'CormorantGaramond-Bold', serif;
}

h4.copyright-heading {
    text-align: left;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-top: 0.5em;
    margin-bottom: -0.8em;
    font-family: 'CormorantGaramond-Bold', serif;
}

div.copyright-box {
    margin-left: 5px;
    margin-right: 0;
    display: block;
    margin-bottom: 5%;
}

div.copyright-box  > hr {
    width: 30%;
    margin-top: 1em;
    margin-bottom: 1em;
    left: 0;
    text-align: left;
    margin-left: 0;
}

p.copyright-main-paragraph {
    text-indent: 0em;
    margin-left: 0;
    margin-right: 0;
    display: block;
    text-align: justify;
}

p.copyright-paragraph {
    padding-left: 1.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    text-align: justify;
}

/* Chapters Style */
div.chapter {
    page-break-before: always;
    margin-top: 4em;

}

.chapter > h1, h2, h3 {
    font-family: 'CormorantGaramond-Bold', serif;
    font-weight: bold;
    margin-bottom: 2em;
    line-height: 1em;
    text-transform: capitalize;
    font-size: 2.2em;
    letter-spacing: 0.1em;
}

.chapter > p {
    word-break: break-word;
    text-align: justify;
    line-height: 1.3em;
    margin-bottom: 1em;
    text-indent: 0em;
    letter-spacing: 0.02em;
    font-size: 120%;
}

.dialogue {
    font-style: italic;
    letter-spacing: 0.03em;
    display: inline;
}

.dialogue::before {
    content: '\A';
    display: block;
    margin-left: 1em;
    clear: right;
}

.pgmonospaced {
    font-family: monospace;
    font-size: 0.9em
}

/* Figures */
div.fig {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em
}

/* TODO 
 * At the moment the caption hr+span associated to the image,
 * is not strictly tied together with the image.
 * Visualization on ebook readers results in caption showed on the next page.
 * The idea is that the image and its caption should be a single block.
 */ 
div.fig > span.caption {
    display: block;
    margin-top: 1.2em;
    text-align: center;
    line-height: 1.3em;
    font-family: serif;
    page-break-after: avoid;
    page-break-before: avoid;
}

div.fig > hr {
    width: 15%;
    margin-top: 1em;
    margin-bottom: 1em;
    left: 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

div.image-box {    
    position: absolute;
    display: block;
    max-height: 100%;
    margin: 0;
    padding: 0.2em 1em 0.2em 1em;
    overflow: visible;
    left: 50%;
    max-width: 45%;
}

img.illustration {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin-left: -50%;
}
